body {
    margin: 0;
   padding: 0;
   box-sizing: border-box;
   min-height:100vh;
   font-family: sans-serif;
    background-image: url(Images/todobg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  
  .container {
    max-width: 900px;
    margin: 0 auto;
    margin-top: 50px;
    padding: 20px;
    background-color:rgba(255,255,255,.3);
    box-shadow: 0 25px 45px rgba(0,0,0,.3);
    border: 3px solid rgba(255,255,255,.5) ;
    border-right: 3px solid rgba(255,255,255,.2) ;
    border-bottom: 3px solid rgba(255,255,255,.2) ;
    backdrop-filter: blur(4px);
    border-radius: 20px;
  }
  #delete {
    background-image:url(Images/trash-solid.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20px;
  }
   
  #delete:hover{
    animation: shake 0.5s;
    animation-iteration-count: infinite;
   
  }
  #edit {
    background-image:url(Images/pencil-solid.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20px;
  }
  #done {
    background-image:url(Images/yes.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border: 2px solid black;
    position: relative;
    border-radius: 50%;
    right: 20px;
    bottom:8px;
    width: 23px;
    height: 23px;

  }
  @keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }
  
  
  form {
    display: flex;
    margin-bottom: 20px;
  }
  
  input[type="text"] {
  width: 80%;
  margin-right: 10px;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
  }
  
  button {
    width: 80px;
    height: 40px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    background-color:#fff;
    padding: 10px;
    transition: .2s ease-in-out;
  }
  button:active{
    scale: 0.8;
  }

  
  .lists-container {
    display: flex;
    flex-direction: column;
   
  }
  
  .list {
    flex: 1;
    border: 1px solid rgba(255,255,255,.5);
    padding: 10px;
  }
 
  ul {
    list-style: none;
    padding: 0;
  }
  
  li {
    display: flex;
    justify-content: space-between;
    padding: 8px 0;
  }
  
  li .actions {
    
    
  }
  
  li .actions button {
    margin-right:-22px;
    background-color: transparent;
    color: #007BFF;
    border: none;
    cursor: pointer;
  }
p{
 
  width: 500px;
}
#date{
  position: relative;
  top: 12px;

}
